<template>
  <footer class="footer">
      <div class="container">
        <div class="content has-text-centered">
          <p>
            <strong>Printerio</strong> (C) 2018
          </p>
        </div>
      </div>
  </footer>
</template>

<script>
export default {
  name: 'footerSection'
}
</script>
