<template>
  <nav class="navbar has-shadow is-fixed-top">
    <div class="container">
      <div class="navbar-brand">
        <!-- navbar items, navbar burger... -->
        <a class="navbar-item" href="/">
          <h1 class="content is-large">PrinterIO</h1>
        </a>
      </div>
      <div class="navbar-menu">
        <div class="navbar-start">
          <!-- navbar items -->
          <a class="navbar-item" href="">1</a>
          <a class="navbar-item" href="">2</a>
          <a class="navbar-item" href="">3</a>
        </div>
        <div class="navbar-end">
          <a class="navbar-item" href="">Log On</a>
          <!-- navbar items -->
        </div>
      </div>
    </div>
</nav>
</template>

<script>
export default {
  name: 'navbar'
}
</script>
