<template>
  <div id="app" class="container">
    <navbar />
    <router-view></router-view>
    <footerSection />
  </div>
</template>

<script>
export default {
  name: 'App'
}
</script>

<style lang='css'>
    @import '../node_modules/bulma/css/bulma.css';
</style>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
