{% extends "base_generic.html" %}

{% block content %}
<div class="grid-x">
    <div class="cell medium-8">
        <form action="" method="post">
                {% csrf_token %}
                <div class="grid-container">
                    <div class="grid-x grid-padding-x">
                      <div class="medium-6 cell">
                            <label>Модель принтера
       
                            </label>
                        <div class="medium-6 cell">
                                <label>Модель картриджа
                                    <input type="select">
                                </label>
                        </div>
                        <div class="medium-2 cell">
                                <label>количество
                                    <input type="number" value="1">
                                </label>
                        </div>
                        <div class="medium-2 cell">
                            <button type="submit" class="button">ADD</button>
                        </div>
                        </div>
                    </div>
        </form>
    </div>
    <div class="cell medium-4 ">
        
    </div>
</div>
{% endblock %}