<!doctype html>
<html class="no-js" lang="en">
<head>
  
  {% block title %}<title>SupplyBox</title>{% endblock %}
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
   
  <!-- Добавление дополнительного статического CSS файла -->
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <link rel="stylesheet" href="{% static 'css/foundation.min.css' %}">
  <script src="{% static 'js/vue.js' %}"></script>
</head>

<body>

  <div class="grid-container fluid" id="app">

    <div class="grid-x">
      <div class="cell">
        <div class="top-bar">
          <div class="top-bar-left">
            {% block menu%}
            <ul class="menu">
                <li><a href="{% url 'index' %}">Home</a></li>
                {% if user.is_authenticated %}
                  <li><a href="/user">User</a></li>
                {% else %}
                {% endif %}
            </ul>
          {% endblock %}
          </div>
          <div class="top-bar-right">
            {% if user.is_authenticated %}
            Username: 
            {% else %}
            <a href="{% url 'login' %}">Sign in</a>
            {% endif %}
          </div>
        </div>
     </div>
    </div>

    <div class="grid-x">
      <div class="cell">
        {% block content %}{% endblock %}
      </div>
    </div>

  </div>

  <script src="{% static 'js/jquery.js' %}"></script>
  <script src="{% static 'js/foundation.min.js' %}"></script>
  <script src="{% static 'js/what-input.js' %}"></script>
  <script src="{% static 'js/app.js' %}"></script>
  <script>
    $(document).foundation();
  </script>
</body>
</html>